In [1]:
'''
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon
'''

'\nq1 :\nineruon \nineruon ineruon \nineruon ineruon ineruon\nineruon ineruon ineruon ineruon\n'

In [10]:
s = 4
for i in range(s):
    for j in range(0,i+1):
        print('iNeuron',end=" ")
    print('\n')

iNeuron

iNeuron iNeuron

iNeuron iNeuron iNeuron

iNeuron iNeuron iNeuron iNeuron

In [ ]:
'''       ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon'''

In [157]:
n=3
for i in range(n-1):
    for j in range(i,n):
        print("    ",end="    ")
    for j in range(i):
        print("ineuron",end="    ")
    for j in range(i+1):
        print("ineuron",end="    ")
    print()
for i in range(n):    
    for j in range(i+1):
        print("    ",end="    ")
    for j in range(i,n-1):
        print("ineuron",end="    ")
    for j in range(i,n):
        print("ineuron",end="    ")
    print()

                        ineuron
                ineuron    ineuron    ineuron
        ineuron    ineuron    ineuron    ineuron    ineuron
                ineuron    ineuron    ineuron
                        ineuron

In [11]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [12]:
# q3 : Try to extract all the list entity 
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [13]:
# q4 : Try to extract all the dict enteties
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [14]:
#q5 : Try to extract all the tuples entities
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [22]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values 
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
                print(j)
    if type(i)==dict:
        for j,h in i.items():
            if type(j)==int or type(h)==int:
                l1.append(j)
                l1.append(h)
                print(j)
                print(h)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [23]:
# q7 : Try to give summation of all the numeric data 
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [24]:
sum(l1)

156

In [33]:
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
for i in l:
    if type(i)==list:
        for j in i:
            if type(j) == int:
                if j % 2 !=0:
                    print(j)

1
3

In [201]:
# q9 : Try to extract "ineruon" out of this data
for i in l:
    if type(i)==list:
        if 'ineuron' in i:
            print('ineuron')
    if type(i)==dict:
        for j in i.items():
            if 'ineuron' in j:
                print('ineuron')

ineuron
ineuron

In [112]:
# q10 :Try to find out a number of occurances of all the data 
l2=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l2.append(j)
    if type(i)==dict:
        for j,h in set(i.items()):
            l2.append(j)
            l2.append(h)
for i in set(l2):
    print(i,":",l2.count(i))

k3 : 1
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
kumar : 1
k2 : 1
8 : 1
45 : 1
sudh : 1
k1 : 1
ineuron : 2
data science : 1
23 : 1

In [132]:
# q11 : Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print(i.keys())
        if j in list(i.keys()):
            print(i.count(j))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [150]:
# q12 : Try to filter out all the string data 
l3=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                l3.append(i)
    if type(i)==dict:
        for j,h in i.items():
            if type(j) == str or type(h)==str:
                l3.append(j)
                l3.append(h)
print(l3)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', ['ineuron', 'data science'], ['ineuron', 'data science']]

In [209]:
#q13 : Try to Find  out alphanum in data
l4 = str(l3)
if l4.isalnum:
    print(l4)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', ['ineuron', 'data science'], ['ineuron', 'data science']]

In [196]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
l5=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l5.append(j)
for i in l5:
    print(i*2)
print(l5)

2
4
6
8
4
6
8
10
12
6
8
10
12
14
90
8
10
46
[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [199]:
#q15 : Try to unwrape all the collection inside collection and create a flat list 
l6=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l6.append(j)
    if type(i)==dict:
        for j,h in set(i.items()):
            l6.append(j)
            l6.append(h)

In [200]:
l6

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k3',
 'kumar',
 'k2',
 'ineuron',
 3,
 6,
 'k1',
 'sudh',
 7,
 8,
 'ineuron',
 'data science']