In [ ]:
s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .


you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may .

In [1]:
# 1 . Try to extract data from index one to index 300 with a jump of 3 
s = "this is My First Python programming class and i am learNING python string and its function"

In [3]:
s[6:300:3]

'syityopgmncsa alrNph rgni ni'

In [4]:
#2. Try to reverse a string without using reverse function 
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [5]:
#3. Try to split a string after conversion of entire string in uppercase 
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [6]:
#4. try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [7]:
#5 . Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

6 . Write a diference between isalnum() and isalpha()

isalnum: it is or condition based on this conditon it will check the string contains numerical or alphabetical atleas one then it will give output as True
Example:
s = "Sudhanshu123"
O/p:-True

isalpha:it check the string is aplhabitcal or not if it is alphabitical then it will give the output as Treu

Example:
s1 = "123456"
O/p:-True

In [9]:
#7. Try to give an example of expand tab
#here expand tabs replace the \t with tabspace
k= 'Kishore\tKumar\tis\tmy\tfirst\tprogarming\tclass'
k.expandtabs()

'Kishore Kumar   is      my      first   progarming      class'

In [11]:
#8 . Give an example of strip , lstrip and rstrip 
#strip:- it removes the space first and last not in between the string
k='   Kishore   Kumar   '
k.strip()

'Kishore   Kumar'

In [12]:
#lstrip:-removes the left side space in a string
k.lstrip()

'Kishore   Kumar   '

In [13]:
#rstrip:- removes the right side space in a string
k.rstrip()

'   Kishore   Kumar'

In [16]:
#9.  Replace a string charecter by another charector by taking your own example 
# "sudhanshu" here i want to replace first small s to capital s
s="sudhanshu"

In [17]:
s

'sudhanshu'

In [18]:
s.replace('s',"S",1)

'Sudhanshu'

In [22]:
# 10 . Try  to give a defination of string center function with and exmple 
'''
The string center function alocate a given string into the alocated space(number of space in that function) 
and it is fill with rest of space with given charector

'''
k=' Kishore   Kumar '

k.center(50,'$')

'$$$$$$$$$$$$$$$$ Kishore   Kumar $$$$$$$$$$$$$$$$$'

# 11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
'''
compilor is converts the whole program at once from high level language to low level language
Interpretor is converts a program into line by line from high level language to intermediat language and it has pre compiled codes
'''

# 12 . Python is a interpreted of compiled language give a clear ans with your understanding 
'''
Python is compiler and intrepreted as well 
Python first compile the whole programing code and then execute it line by line
but when code is executed the complire will automatically deleted
'''

In [25]:
# 13 . Try to write a usecase of python with your understanding .
'''
Python is used in all over the coding industry 
why because it is simple english language code and compare to other coding plat forms it has very less number of codes
so this is the reason it is used in all over the coding industry

it is used in:
1 web scraping
2 web development
3 game development
4 data science
5 mechine learning
6 artificial intelligence
7 software development....etc


'''

'\nPython is used in all over the coding industry \nwhy because it is simple english language code and compare to other coding plat forms it has very less number of codes\nso this is the reason it is used in all over the coding industry\n\nit is used in:\n1 web scraping\n2 web development\n3 game development\n4 data science\n5 mechine learning\n6 artificial intelligence\n7 software development....etc\n\n\n'